/* === Modal === */
.modal-component-modal-content {
    background: #14143d !important;
    border-radius: 4px;
    overflow-y: scroll;
    padding: 3rem;
}

.is-large.delete,
.is-large.modal-close {
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    width: 32px;
}

.modal-component-close-button {
    -webkit-app-region: no-drag;
    border-radius: 4px;
    cursor: pointer;
}

.modal-component-close-button::before,
.modal-component-close-button::after {
    pointer-events: none;
}

.modal-close {
    position: absolute;
    border-radius: 4px;
    right: 20px;
    top: 20px;
    -webkit-appearance: none;
    border: none;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    vertical-align: top;
    user-select: none;
    margin: 0;

    background-image: initial;
    background-position-x: 0;
    background-position-y: 0;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.modal-component {
    z-index: 100;
}

.modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    z-index: 40;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal.is-active {
    display: flex !important;
}

.modal-content > h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.modal-close::before {
    height: 2px;
    width: 50%;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
    background-color: #847bff !important;
}
.modal-close::after {
    height: 2px;
    width: 50%;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(135deg);
    transform-origin: center center;
    background-color: #847bff !important;
}

.modal.proxy-create > .modal-content {
    background: #14143d;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: auto;
    padding: 3rem;
}

.modal-component-close-button::after,
.modal-component-close-button::before {
    pointer-events: none;
}

.modal-background {
    border-radius: 7px;
    overflow: hidden;
    background-color: rgba(10, 10, 10, 0.86);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal-content {
    margin: 0 20px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: 100%;
}

@media (min-width: 769px) {
    .modal-content {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 640px !important;
    }
}

.form-component-input::placeholder,
.form-component-textarea::placeholder {
    color: rgba(132, 123, 255, 0.5);
}

.form-component-input:focus,
.form-component-textarea:focus {
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.form-component-row {
    display: flex;
}
.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - 0.75rem);
}
.columns,
.columns:last-child {
    margin: 0;
}
.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}
.form-component-label {
    font-weight: 700;
    font-size: 0.8rem;
}
.form-component-input,
.form-component-textarea {
    margin-top: 0.75rem;
    background-color: rgba(132, 123, 255, 0.15);
    color: #847bff;
    border: none;
    resize: none;
}
.field-proxies {
    padding-top: 10px;
}
.input,
.textarea {
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    max-width: 100%;
    width: 100%;
    border-radius: 4px;
}

.input {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
    margin: 0;
    background-color: rgba(132, 123, 255, 0.15) !important;
}

.textarea {
    align-items: flex-start !important;
    min-height: 128px;
    max-height: 640px;
    justify-content: flex-start;
    overflow-wrap: break-word;
    text-align: justify;
    display: flex;
    padding: 11px;
    white-space: pre-wrap;
    vertical-align: initial !important;
    margin: 0;
    background-color: rgba(132, 123, 255, 0.15) !important;
}

//Submit Button
.form-component-submit-row {
    display: flex;
    align-items: flex-start;
    padding: 0.75rem 0.75rem 0 0.75rem;
    margin-bottom: -0.75rem;
}

.form-component-submit-button {
    border-radius: 4px;
    height: 40px;
    background-color: #be2a50;
    color: #fff;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 200ms ease, opacity 200ms ease;
    margin-bottom: 0.75rem;
    border: none;
}

.form-component-submit-button > * {
    pointer-events: none;
}

.form-component-submit-button:hover {
    background-color: rgb(170, 37, 70);
}

.form-component-submit-button:active {
    background-color: #a12342;
}

.form-component-submit-button-disabled {
    opacity: 0.25;
}

.form-component-submit-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.input[disabled] {
    cursor: not-allowed;
    opacity: 0.35;
    background-color: rgba(132, 123, 255, 0.15);
    color: rgba(132, 123, 255, 0.5);
}
